<div class="root">

  <div class="navbar has-background-dark">
    <div class="navbar-brand centered">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">

    <div class="board-bar">
      <p class="board-name">Nombre del tablero</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns">
        <div class="board-column">
          <div class="column-title centered"> to-do </div>
          <hr class="column-separator" />

          <div class="task"> This is something that i want to do!</div>
          <div class="task"> Here is another task! </div>
        </div>

        <div class="board-column">
          <div class="column-title centered"> doing </div>
          <hr class="column-separator" />
        </div>

        <div class="board-column">
          <div class="column-title centered"> done </div>
          <hr class="column-separator" />
        </div>

      </div>
    </div>

  </div>

</div>
