<div class="root">

  <div class="navbar has-background-dark">
    <div class="navbar-brand centered">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">{{board.name}}</p>
    </div>

    <div class="board-wrapper">
      <div cdkDropListGroup class="board-columns">
        <div class="board-column" *ngFor="let col of board.columns">
          <div class="column-title centered"> {{col.name}} </div>
          <hr class="column-separator" />

          <div class="task-container"
               cdkDropList
               [cdkDropListData]="col.tasks"
               (cdkDropListDropped)="drop($event)">

            <div class="task" *ngFor="let item of col.tasks" cdkDrag>
              {{item}}
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
