.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 34px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#13f7f4, #2af598);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // Override Automatic Minimum Size
  // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
  min-width: 0;
  min-height: 0;

  .board-bar {
    background: rgba(gray, 0.5);
    padding: 8px 15px;

    .board-name {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;

    .board-columns {
      display: flex;
      flex-grow: 1;

      .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0; // to force the columns to all be the same size, regardless of content

        min-width: 300px;
        margin: 50px;
        padding: 25px;
        border-radius: 10px;
        background: rgba(white, 0.6);

        &:not(:first-child) {
          margin-left: 0;
        }

        .column-title {
          font-size: 20px;
          font-weight: 800;
          font-family: 'Lato', sans-serif;
          text-transform: uppercase;
          //margin-bottom: 20px;
        }

        .column-separator {
          border-top: 3px solid;
          border-radius: 5px;
          margin-top: 5px;
          margin-left: 25px;
          margin-right: 25px;
        }

      }
    }
  }
}

.tasks-container {
  flex-grow: 1;
  overflow-y: auto;
}

.task {
  display: flex;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
}
